body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

.div-container{
    height: 300px;
    width: 300px;
    border: blue solid;
    display: flex;
}

.grid-square{
    /* border: 1px solid #000; */
    background-color: #ccc;
    flex-grow: 1;
}

.grid-column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.grid-square-hover{
    /* border: 1px solid #000; */
    background-color: rgb(10, 10, 10);
    flex-grow: 1;
}