body{
    display: flex;
    justify-content: center;
}

.div-container{
    /* height: 500px; */
    /* width: 500px; */
    border: blue solid;
    display: flex;
}

.grid-square{
    width: 3px;
    height: 3px;
    /* border: 1px solid #000; */
    background-color: #ccc;
}

.grid-column{
    display: flex;
    flex-direction: column;
}

.grid-square-hover{
    width: 3px;
    height: 3px;
    /* border: 1px solid #000; */
    background-color: orangered;
}